.mainPage{
    width: 851px;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 150px;
    position: relative;
}
.mainPage form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainPage input{
    margin:0 10px;
}
.mainPage .btnCreate{
    margin:0 15px;
}
.list{
    width: 851px;
    height:auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 215px;
    margin-right: 255px;

}
.list li{
    background: rgb(217, 217, 217);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 851px;
    height:auto;
    list-style-type: none;
    gap:20px;
    text-transform: uppercase;

}
.list .btnDelete{
    color:red;
    border:none;
    background: rgb(217, 217, 217);
    cursor:pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.mainPage input{
    width: 181px;
    height: 47px;
    background: rgb(217, 217, 217);
    border:none;
    font-weight: bold;
    text-transform: uppercase;
    color:black;
    cursor:pointer;
    padding-left: 12px;

}
.mainPage .btnCreate{
    width: 200px;
    height: 47px;
    background: rgb(0, 0, 0);
    text-align: center;
    color:white;
    border:none;
    text-transform: uppercase;
    cursor:pointer;

}
